/* eink.css is based on an even more simplified version of simplecss.org */

:root {
	color-scheme: light dark;
	/* START LIGHT */
	--fg-color: #000;
	--bg-color: #FFF;
	--header-bg-color: #EEE;
	--header-fg-color: #000;
	--border-color: #333;
	--button-bg-color: #CCC;
	--button-fg-color: #000;
	/* END LIGHT */
}

@media (prefers-color-scheme: dark) {
	:root {
		/* START DARK */
		--fg-color: #FFF;
		--bg-color: #666;
		--header-bg-color: #333;
		--header-fg-color: #FFF;
		--border-color: #EEE;
		--button-bg-color: #EEE;
		--button-fg-color: #000;
		/* END DARK */
	}
}

html {
	font-family: sans-serif;
}

body {
	color: var(--fg-color);
	background: var(--bg-color);
	font-size: 24px;
	line-height: 1.75;
	margin: 0;
}

/* Styling a div within main to better handle the basic browser in Kindle devices */
main div {
	display: inline-block;
	margin: 1rem auto 0;
	max-width: 45rem;
	padding: 0 3rem; /* doubled the padding on left and right to avoid stretching to the edge and have some breathing space */
	text-align: left;
}

main {
	text-align: center;
}

header {
	color: var(--header-fg-color);
	background: var(--header-bg-color);
	border-bottom: 1px solid var(--border-color);
	padding: 1.5rem;
	margin-bottom: 3rem;
}


nav {
	text-align: center;
}

nav {
	font-size: 1rem;
	line-height: 2;
	padding: 1rem 0;
}

nav a {
	margin: 0 1rem 0;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	color: var(--fg-color);
	display: inline-block;
	padding: .1rem 1rem;
	text-decoration: none;
	transition: .4s;
}

nav a:hover {
	color: var(--border-color) !important;
	border-color: var(--border-color);
}

nav a.current:hover {
	text-decoration: none;
}

nav .linkgroup {
	margin: 0 1rem 0;
}
nav .linkgroup a {
	margin: 0 0 0 -1px;
	border-radius: 0;
}
nav .linkgroup a:first-child {
	margin: 0;
	border-radius: 5px 0 0 5px;
}
nav .linkgroup a:last-child {
	border-radius: 0 5px 5px 0;
}

.auto .linkgroup a.autolink,
.dark .linkgroup a.darklink,
.light .linkgroup a.lightlink,
.linkgroup a.selected {
	text-decoration: underline;
}

header h1 {
	line-height: 1.1;
	text-align: center;
}


h1 {
	margin-top: 1.7rem;
	text-align: center;
}

h2 {
	margin-top: 1.7rem;
	text-align: center;
}


a,
a:visited {
	color: var(--fg-color);
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	border: none;
	border-radius: 5px;
	background: var(--button-bg-color);
	font-size: 1rem;
	color: var(--button-fg-color);
	padding: .7rem .9rem;
	margin: .5rem 0;
	transition: .4s;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;
	cursor: not-allowed;
}


button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	opacity: .8;
}

details {
	padding: .6rem 1rem;
	background: var(--header-bg-color);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	margin-bottom: 1rem;
}

summary {
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	padding-bottom: .75rem;
}

details[open] summary {
	margin-bottom: .5rem;
}

details[open]>*:last-child {
	margin-bottom: 0;
}


ol,
ul {
	padding-left: 3rem;
}


hr {
	color: var(--border-color);
	border-top: 1px;
	margin: 1rem auto;
}

a.addlink {
	padding: 4px 8px;
	border-radius: 4px;
	background: var(--button-bg-color);
	color: var(--button-fg-color);
	font-size:1.25rem;
}


blockquote {
	margin: 2rem 0 2rem 2rem;
	padding: .4rem .8rem;
	border-left: .35rem solid var(--border-color);
	opacity: .8;
	font-style: italic;
}


footer {
	margin-top: 4rem;
	padding: 2rem 1rem 1.5rem 1rem;
	color: var(--fg-color);
	font-size: .9rem;
	text-align: center;
	border-top: 1px solid var(--border-color);
}
