*.o
*.lo
*.la
*.so
\#*#
.*~
*~
.#*
.DS_Store
*.bak
.*.swp
.swp
.swo
*.pyc
*.pyd
*.pyo
__pycache__/
.env
.venv
env/
venv/
ENV/
build/
dist/
eggs/
.eggs/
wheels/
.ipynb_checkpoints
ipython_config.py
.python-version
