/* eink.css light mode - based on an even more simplified version of simplecss.org */

html {
  font-family: sans-serif;
}

body {
	color: #000;
	background: #FFF;
	font-size: 24px;
	line-height: 1.75;
	margin: 0;
}


main {
	margin: 1rem auto 0;
	max-width: 45rem;
	padding: 0 .5rem;
}


header {
	background: #eee;
	border-bottom: 1px solid #333;
	padding: 1.5rem;
	margin-bottom: 3rem;
}


nav {
	text-align: center;
}

nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0;
}

nav a {
  margin: 1rem 1rem 0 0;
  border: 1px solid #333;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  padding: .1rem 1rem;
  text-decoration: none;
  transition: .4s;
}

nav a:hover {
  color: #333 !important;
  border-color: #333;
}

nav a.current:hover {
  text-decoration: none;
}


header h1 {
	line-height: 1.1;
	text-align: center;
}


h1 {
	margin-top: 1.7rem;
	text-align: center;
}

h2 {
	margin-top: 1.7rem;
	text-align: center;
}


a,
a:visited {
	color: #000;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	border: none;
	border-radius: 5px;
	background: #CCC;
	font-size: 1rem;
	color: #333;
	padding: .7rem .9rem;
	margin: .5rem 0;
	transition: .4s;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;
	cursor: not-allowed;
}


button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	opacity: .8;
}

details {
	padding: .6rem 1rem;
	background: #eee;
	border: 1px solid #333;
	border-radius: 5px;
	margin-bottom: 1rem;
}

summary {
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	padding-bottom: .75rem;
}

details[open] summary {
	margin-bottom: .5rem;
}

details[open]>*:last-child {
	margin-bottom: 0;
}


ol,
ul {
	padding-left: 3rem;
}


hr {
	color: #333;
	border-top: 1px;
	margin: 1rem auto;
}

mark {
	padding: 2px 5px;
	border-radius: 4px;
	background: #ccc;
	color: #000;
	font-size:1.25rem;
}


blockquote {
	margin: 2rem 0 2rem 2rem;
	padding: .4rem .8rem;
	border-left: .35rem solid #333;
	opacity: .8;
	font-style: italic;
}


footer {
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: #000;
  font-size: .9rem;
  text-align: center;
  border-top: 1px solid #333;
}
